<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082999969829-s84ps5dgr7q8uii4vh0ga7u4kg96378c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082999969829-s84ps5dgr7q8uii4vh0ga7u4kg96378c</string>
	<key>API_KEY</key>
	<string>AIzaSyB9nCymIkDTipaRzIDAp5ReF78Pro47Mps</string>
	<key>GCM_SENDER_ID</key>
	<string>1082999969829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qucek.app</string>
	<key>PROJECT_ID</key>
	<string>qucek-285013</string>
	<key>STORAGE_BUCKET</key>
	<string>qucek-285013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082999969829:ios:0d670221af63abf48e07cc</string>
	<key>DATABASE_URL</key>
	<string>https://qucek-285013-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>